# Key Aspects in Feature Engineering
1. Feature Selection - Select the variables suitable for the analysis
2. Feature Transformation  - Scaling, normalization, binning, log transformation, 
3. Feature Creation - Create new features based on what is existing
4. Handling of the missing values 
5. Encoding Categorical Variables - One-hot encoder, label encoding, Target encoding
6. Feature Scaling - Min-Max Scaling, Standardization
7. Dimensionality Reduction - PCA,

## Praactical

In [1]:
# Import the libraries
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification
#from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
#from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
# Generate a dataset
X, y = make_classification(n_samples = 1000, n_features = 10, n_classes = 2, random_state=42)

In [4]:
# Convert to a dataframe for the ease of manipulation
df = pd.DataFrame(X, columns=[f'Feature_{i}' for i in range(X.shape[1])])
df['target'] = y

In [5]:
df.head()

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,target
0,0.964799,-0.066449,0.986768,-0.358079,0.997266,1.181890,-1.615679,-1.210161,-0.628077,1.227274,0
1,-0.916511,-0.566395,-1.008614,0.831617,-1.176962,1.820544,1.752375,-0.984534,0.363896,0.209470,1
2,-0.109484,-0.432774,-0.457649,0.793818,-0.268646,-1.836360,1.239086,-0.246383,-1.058145,-0.297376,1
3,1.750412,2.023606,1.688159,0.006800,-1.607661,0.184741,-2.619427,-0.357445,-1.473127,-0.190039,0
4,-0.224726,-0.711303,-0.220778,0.117124,1.536061,0.597538,0.348645,-0.939156,0.175915,0.236224,1

### Feature Selection

In [10]:
a = df[['Feature_0', 'Feature_1', 'Feature_2', 'Feature_3', 'Feature_4', 'Feature_5', 'target']]

In [11]:
a

     Feature_0  Feature_1  Feature_2  Feature_3  Feature_4  Feature_5  target
0     0.964799  -0.066449   0.986768  -0.358079   0.997266   1.181890       0
1    -0.916511  -0.566395  -1.008614   0.831617  -1.176962   1.820544       1
2    -0.109484  -0.432774  -0.457649   0.793818  -0.268646  -1.836360       1
3     1.750412   2.023606   1.688159   0.006800  -1.607661   0.184741       0
4    -0.224726  -0.711303  -0.220778   0.117124   1.536061   0.597538       1
..         ...        ...        ...        ...        ...        ...     ...
995  -1.367638   1.462255  -1.154918  -0.290454  -0.413424   0.032396       1
996  -1.514876  -3.221016  -1.300744   0.395599  -0.527994   1.353069       1
997   1.674633   1.754933   1.586154   0.018402  -1.514470   0.321593       0
998  -0.778609  -0.835689  -0.194842   1.097220   0.180071  -0.272933       0
999   0.248454  -1.003439   0.360460  -0.331352   1.389764  -1.345210       0

[1000 rows x 7 columns]

### Feature Transformation

In [12]:
# Innitialize your scaler
scaler = StandardScaler()
# X_train_Scaled = scaler.fit_transform(X_train)
# X_test_Scaled = scaler.transform(X_test)

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# encoder = OneHotEncoder()
# X_train_Encoded = encoder.fit_transform(X_train)
# X_test_encoded = encoder.transform(X_test)